<!DOCTYPE html>
<html>

<head>
    <title>Student Performance Predictor</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="navbar">

    <div class="logo">
        Student Performance Predictor
    </div>

    <div class="nav-right">

        <span>
            Welcome, {{ session['user'] }}
        </span>

        <a href="/logout">
            <button class="logout-btn">
                Logout
            </button>
        </a>

    </div>

</div>

   <div class="container">

    <h1 class="main-title">
        Student Performance Predictor
    </h1>

    <div class="card">
        <div class="analytics-row">

    <div class="analytics-card">

        <h3>Total Predictions</h3>

        <p>{{ total_predictions }}</p>

    </div>

    <div class="analytics-card">

        <h3>Average Score</h3>

        <p>{{ average_score }}</p>

    </div>

    <div class="analytics-card">

        <h3>Highest Score</h3>

        <p>{{ highest_score }}</p>

    </div>

    <div class="analytics-card">

        <h3>Latest Grade</h3>

        <p>{{ latest_grade }}</p>

    </div>

</div>
        <div class="section-card">
        <form method="POST">

            <input type="number" name="attendance" placeholder="Attendance %" required>

            <input type="number" name="study_hours" placeholder="Study Hours" required>

            <input type="number" name="internal_marks" placeholder="Internal Marks" required>

            <input type="number" name="assignments" placeholder="Assignment Marks" required>

            <button type="submit">Predict</button>

        </form>
        </div>

        {% if prediction %}
        <div class="section-card">

            <div class="result">

                <h2>Predicted Final Score: {{ prediction }}</h2>

                <h2>Predicted Grade: {{ grade }}</h2>

            </div>
        </div>
        

        {% endif %}
        <div class="section-card">
        <h2>Prediction History</h2>

<table>

    <tr>
        <th>Attendance</th>
        <th>Study Hours</th>
        <th>Predicted Score</th>
        <th>Grade</th>
    </tr>

    {% for item in history %}

    <tr>

    <td>{{ item[0] }}</td>

    <td>{{ item[1] }}</td>

    <td>{{ item[2] }}</td>

    <td>{{ item[3] }}</td>

</tr>

    {% endfor %}

</table>
</div>
<div class="section-card">
<div class="graph">

    {{ graph_html | safe }}

</div>

    </div>
</div>
</div>
</body>

</html>